
@media only screen and (max-width: 640px){
    .container{
        padding: 16px;
    }
    .navbar{
        flex-direction: column;
    }
    .logo{
        text-align: center;
    }
    nav > ul> li{
        display: block;
        padding: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .banner-title{
        font-size: 24px;
        font-weight: 800;
        text-align: center;
    }
    .banner-content{
        text-align: center;
    }
    .sub-heading{
        margin-left: 5px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-container{
        flex-direction: column;
       
     }
     /* about */

     .about-container{
     flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 60px;
    }
    /* experience */ 
    .experience-container{
        flex-direction: column;
    }
    .primery-desc{
        font-size: 16px;
        width: 400px;
    }
    .single-award{
        width: 100%;
    }
    /* protfolio */
    .single-project {
        grid-template-columns: auto ;
        gap: 10px;
    }
    .primery-title{
        font-size: 20px;
    }
    .single-project img{
        width: 100%;
       }
    .info-desc{
        color: white;
        border-bottom: 1px solid gray;
        padding: 10px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 400;
    }
    /* footer */
    .footer-logo{
        font-size: 40px;
    }
    .footer-desc{
        font-size: 14px;
    }
}