@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --primery-color: #FD6F00;
    --bg-color:  #1E1E1E;
    --gradient-color:linear-gradient(270.16deg, rgba(255, 177, 71, 0.1) 5.74%, rgba(255, 108, 99, 0.1) 50.64%, rgba(184, 106, 223, 0.1) 92.05%);
     --contact-bg: #FD6F001A;
}
body{
    font-family: "Poppins", sans-serif;
    font-family: "Rubik", sans-serif;
    background-color: var(--bg-color);
}
.container{
    padding: 24px 160px;
}